* {
  margin: 0;
  padding: 0;
}

.container .header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  margin: 50px auto 0;
}
@media (max-width: 768px) {
  .container .header .wrapper {
    display: flex;
    flex-direction: column;
  }
}
.container .header .wrapper .logo {
  margin-left: 160px;
}
@media (max-width: 1440px) {
  .container .header .wrapper .logo {
    margin-left: 60px;
  }
}
@media (max-width: 768px) {
  .container .header .wrapper .logo {
    display: flex;
    order: 1;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.container .header .wrapper .top-navigation-block {
  max-width: 478px;
  width: 100%;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container .header .wrapper .top-navigation-block {
    padding-left: 60px;
  }
}
.container .header .wrapper .top-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #B3B3BA;
}
.container .header .wrapper .top-contacts .Dot-separator {
  width: 6px;
  height: 6px;
}
.container .header .wrapper .top-contacts .languages ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.container .header .wrapper .top-contacts .languages ul li {
  text-decoration: none;
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}
.container .header .wrapper .top-contacts .languages ul li a {
  text-decoration: none;
  color: #B3B3BA;
  font-weight: 700;
}
.container .header .wrapper .top-contacts .languages ul li::marker {
  display: none;
}
.container .header .wrapper .top-contacts .languages ul li.active {
  border-radius: 8px;
  background-color: #F0145A;
}
.container .header .wrapper .top-contacts .languages ul li.active a {
  color: #fff;
  list-style: none;
}
.container .header .wrapper .top-contacts .address {
  font-weight: 400;
  font-size: 16px;
}
.container .header .wrapper .top-contacts .top-phone-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #B3B3BA;
}
.container .header .wrapper .top-contacts .top-facebook-logo {
  margin-left: 6px;
}
.container .header .wrapper .navigation {
  font-family: Montserrat, sans-serif;
  margin-left: 42px;
  color: #24A3FF;
  font-size: 16px;
}
@media (max-width: 768px) {
  .container .header .wrapper .navigation {
    margin-left: 0px;
  }
}
.container .header .wrapper .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-style: normal;
  line-height: 20px;
}
@media (max-width: 768px) {
  .container .header .wrapper .navigation ul {
    position: absolute;
    display: flex;
    gap: 15px;
    padding-top: 125px;
  }
}
.container .header .wrapper .navigation ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 3px 0;
  font-weight: 700;
  color: #24A3FF;
}
.container .header .wrapper .navigation ul li a:after {
  color: #24A3FF;
  background: none repeat scroll 0 0 #F0145A;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.container .header .wrapper .navigation ul li a:hover {
  color: #F0145A;
}
.container .header .wrapper .navigation ul li a:hover:after {
  width: 100%;
  left: 0;
  color: #F0145A;
}
.container .main {
  max-width: 1920px;
  width: 100%;
  margin: 0px auto;
}
.container .main .content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
@media (max-width: 1440px) {
  .container .main .content {
    margin-left: 180px;
    margin-right: 180px;
  }
}
@media (max-width: 1024px) {
  .container .main .content {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 768px) {
  .container .main .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.container .main .content .main-text-content .main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.container .main .content .main-text-content p {
  display: flex;
  padding-top: 28px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  align-self: stretch;
}
.container .main .content .vertical-line {
  height: 100%;
}
@media (max-width: 768px) {
  .container .main .content .vertical-line {
    width: 4px;
    height: 302px;
    position: absolute;
    padding-top: 445px;
  }
}
.container .main .content .advantages {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .container .main .content .advantages {
    margin-left: 35px;
  }
}
.container .main .content .advantages .block {
  margin-bottom: 40px;
}
.container .main .content .advantages .block .block-headline {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  margin-bottom: 10px;
}
.container .main .content .advantages .block .block-headline p {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.container .main .content .advantages .block .block-headline .block-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.container .main .bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 60px 280px;
  gap: 30px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
@media (max-width: 1440px) {
  .container .main .bottom-content {
    margin-left: 180px;
    margin-right: 180px;
  }
}
@media (max-width: 1024px) {
  .container .main .bottom-content {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 768px) {
  .container .main .bottom-content {
    display: flex;
    flex-direction: column;
  }
}
.container .main .bottom-content .main-bottom-text-content {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .container .main .bottom-content .main-bottom-text-content {
    margin-bottom: 0px;
  }
}
.container .main .bottom-content .main-bottom-text-content p {
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}
.container .main .bottom-content .main-bottom-title {
  margin-left: 30px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 768px) {
  .container .main .bottom-content .main-bottom-title {
    margin-left: 0px;
  }
}
.container .main .photo {
  max-width: 1920px;
  width: 100%;
}
@media (max-width: 1440px) {
  .container .main .photo {
    max-width: 1440px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container .main .photo {
    max-width: 1024px;
    width: 100%;
  }
}
.container .footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  background: #F5F5FA;
}
.container .footer .footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1920px) {
  .container .footer .footer-top {
    max-width: 1920px;
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .container .footer .footer-top {
    max-width: 1440px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container .footer .footer-top {
    max-width: 1024px;
    width: 100%;
  }
}
.container .footer .footer-top .footer-title {
  padding: 30px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.container .footer .footer-top .footer-logo .images {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.container .footer .footer-top .footer-logo .images img {
  max-width: calc((100% - 120px) / 4);
  width: 100%;
}
@media (max-width: 1920px) {
  .container .footer .footer-top .footer-logo .images {
    margin-left: 160px;
    margin-right: 160px;
  }
}
@media (max-width: 1440px) {
  .container .footer .footer-top .footer-logo .images {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.container .footer .footer-top .menu-dot-separator {
  padding: 30px 0;
}
.container .footer .footer-top .footer-line {
  display: flex;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  height: 2px;
  margin: 0 60px;
}
@media (max-width: 1440px) {
  .container .footer .footer-top .footer-line {
    max-width: 1320px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container .footer .footer-top .footer-line {
    max-width: 904px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container .footer .footer-top .footer-line {
    max-width: 648px;
    width: 100%;
  }
}
.container .footer .footer-bottom {
  display: flex;
  width: 1920px;
  width: 100%;
  height: 141px;
}
@media (max-width: 1440px) {
  .container .footer .footer-bottom {
    max-width: 1440px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container .footer .footer-bottom {
    max-width: 1024px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container .footer .footer-bottom {
    max-width: 768px;
    width: 100%;
    position: relative;
    height: 191px;
  }
}
.container .footer .footer-bottom .footer-bottom-content {
  width: 1600px;
  height: 79px;
  margin: 0 160px;
}
@media (max-width: 1440px) {
  .container .footer .footer-bottom .footer-bottom-content {
    margin: 0 60px;
  }
}
.container .footer .footer-bottom .footer-bottom-content .bottom-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}
@media (max-width: 768px) {
  .container .footer .footer-bottom .footer-bottom-content .bottom-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.container .footer .footer-bottom .footer-bottom-content .bottom-wrapper .footer-contacts {
  display: flex;
  flex-direction: row;
}
.container .footer .footer-bottom .footer-bottom-content .bottom-wrapper .footer-contacts .footer-address {
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.container .footer .footer-bottom .footer-bottom-content .bottom-wrapper .footer-contacts .On-map {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.container .footer .footer-bottom .footer-bottom-content .bottom-wrapper .copyright {
  display: flex;
  color: #B3B3BA;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .container .footer .footer-bottom .footer-bottom-content .bottom-wrapper .copyright {
    position: absolute;
    padding-top: 105px;
    padding-left: 1px;
  }
}
.container .footer .footer-bottom .footer-bottom-content .footer-contacts-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .container .footer .footer-bottom .footer-bottom-content .footer-contacts-line {
    padding-left: 185px;
  }
}
.container .footer .footer-bottom .footer-bottom-content .footer-contacts-line a {
  text-decoration: none;
}
.container .footer .footer-bottom .footer-bottom-content .footer-contacts-line .bottom-phone-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}
.container .footer .footer-bottom .footer-bottom-content .footer-contacts-line .email {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

/*# sourceMappingURL=style.css.map */
